<h1>Seguros Bolivar - Página Principal</h1>
<hr>

<div class="row">
    <div class="col">
        <app-mis-empleados [empleadosHijo]="empleados"></app-mis-empleados>
    </div>

    <div class="col">
        <app-agregar 
            [nuevo]="nuevo"
            (onNuevoEmpleado)="agregarNuevoEmpleado( $event )"
        ></app-agregar>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <p>
            Saludos {{ nombre }}, es un placer 
            {{ genero | i18nSelect:invitacionMapa }}
            a nuestro evento.
        </p>
        <button (click)="cambiarCliente()"> Cambiar nombre </button>
    </div>

    <div class="col">
        <p>
            Actualmente {{ clientes.length | i18nPlural:clientesMapa }}
        </p>

        <button (click)="borrarCliente()"> Borrar Cliente
        </button>
    </div>
</div>

